@font-face {
   font-family: '汉仪旗黑-70S';
   font-display: swap;
   src: url('汉仪旗黑-70S/font.ttf');
}
@font-face {
   font-family: 'MantikaBookW1G-Regular';
   font-display: swap;
   src: url('MantikaBookW1G-Regular/font.ttf');
}
@font-face {
   font-family: '汉仪旗黑-40S';
   font-display: swap;
   src: url('汉仪旗黑-40S/font.ttf');
}
