@font-face {
   font-family: '汉仪旗黑-40S';
   font-display: swap;
   src: url('file:///Users/mac/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-07-10_175609/fonts/%E6%B1%89%E4%BB%AA%E6%97%97%E9%BB%91-40S/font.ttf');
}
