@font-face {
   font-family: 'MantikaBookW1G-Regular';
   font-display: swap;
   src: url('file:///Users/mac/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-07-10_175609/fonts/MantikaBookW1G-Regular/font.ttf');
}
